{% extends "templates/base.twig" %}

{% block content %}
	 <main class="content">
    <section class="portfolio">
        <div class="wrap container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <h1>My work Portfolio:</h1>
            </div>
            <!-- /.col-sm-12 col-md-10 col-md-offset-1 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
                 <article class="portfolio-entry">
                     <img src="images/portfolio/rumble/portfolio-teaser.jpg" />
                     <div class="entry-info">
                         <h3>Rumble Films</h3>
                         <p>
                             A custom wordpress site with ajax video gallery, and preloaded GIF rollovers.
                         </p>
                         <a class="button sml-arrow" href="rumble.php">View Case Study</a>
                     </div>
                     <!-- /.entry-info -->
                 </article>
                 <!-- /.portfolio-entry -->
            </div>
            <!-- /.col-sm-6 col-md-5 col-md-offset-1 -->
            <div class="col-xs-12 col-sm-6 col-md-5">
                 <article class="portfolio-entry">
                     <img src="images/portfolio/left-baggage/portfolio-teaser.jpg" />
                     <div class="entry-info">
                         <h3>Left Luggage</h3>
                         <p>
                             A booking site to take reservations for left luggage services at train stations &amp; airports nationwide.   
                         </p>
                         <a class="button sml-arrow" href="left-luggage.php">View Case Study</a>
                     </div>
                     <!-- /.entry-info -->
                 </article>
                 <!-- /.portfolio-entry -->
            </div>
            <!-- /.col-sm-6 col-md-5 -->
        </div> <!-- /row -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
                 <article class="portfolio-entry">
                     <img src="images/portfolio/bag-wrap/bag-wrap-teaser.jpg" />
                     <div class="entry-info">
                         <h3>Bag Wrap</h3>
                         <p>
                            A Responsive Marketing site to promote Secure Luggage Bag Wrapping at Airports &amp; Rail stations.

                         </p>
                         <a class="button sml-arrow" href="https://www.bagwrap.com/">Visit Site</a>
                     </div>
                     <!-- /.entry-info -->
                 </article>
                 <!-- /.portfolio-entry -->
            </div>
            <!-- /.col-sm-6 col-md-5 col-md-offset-1 -->
            <div class="col-xs-12 col-sm-6 col-md-5">
                 <article class="portfolio-entry">
                     <img src="images/portfolio/asa-business/asa-teaser.jpg" />
                     <div class="entry-info">
                         <h3>Asa Business Consultancy</h3>
                         <p>
                             A responsive  marketing site to promote Asa Business Consultancy, and detail their extensive services.  
                         </p>
                         <a class="button sml-arrow" href="http://www.asabusiness.co.uk/">Visit Site</a>
                     </div>
                     <!-- /.entry-info -->
                 </article>
                 <!-- /.portfolio-entry -->
            </div>
            <!-- /.col-sm-6 col-md-5 -->
        </div><!-- /row -->
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 col-xs-12">
                <h3 class="text-center-heading">More Coming Soon...</h3>
            </div>
            <!-- /.col-sm-12 col-md-10 col-md-offset-1 -->
        </div>
        <!-- /.row -->
        </div> <!-- /wrap container-fluid -->
        </article>
    </main>
{% endblock %}