<header>
<div class="container-fluid">
    <div class="row">
<div class=" col-xs-12 col-sm-4 bottom">
    <div id="logo" class="marquee">
        <h1><a href="/">
        <!-- words span wrapped for control -->
            <span class="n">Neil</span>
            <span class="r">Ross</span>
            <span class="f">Frontend</span>
            <span class="d">Dev.</span>
            </a>
        </h1>
    </div>
</div>
<div class="col-xs-12 col-sm-6 col-sm-offset-2 co middle">
    <nav>
        <ul class="row between-xs">
        <li class="col-xs"><a href="portfolio.php">Portfolio</a></li>
           <!--  <li class="col-xs"><a href="cv.php">Curriculum Vitae</a></li> -->
            <li class="col-xs"><a id="contact-link" href="#contact">Contact</a></li>
        </ul>
    </nav>
</div>
    </div>
</div> <!-- /container -->
<div class="brdr-box"></div>
</header>